## Unit 22.2, 26.1, 29, 44.1 예제 문제

***

<br><br>

### 1: 22.2 리스트의 할당과 복사 알아보기

난수로 이루어진, 크기 100의 리스트가 있다.
해당 리스트와 동일한 새로운 리스트 `dup`을 생성하고 맨 앞 요소의 값을 3으로 수정하여 `dup` 리스트와 `random_list`를 출력하라.


```python
import random

리스트 = [random.randint(0, 255) for _ in range(100)]
```
***

In [5]:
import random

random_list = [random.randint(0, 255) for _ in range(100)]


dup =random_list.copy()
dup[0]=3
print(dup)
print(random_list)

[3, 32, 81, 185, 146, 121, 214, 143, 159, 195, 163, 118, 225, 69, 130, 44, 93, 111, 245, 134, 136, 209, 225, 15, 242, 200, 197, 205, 70, 29, 29, 140, 6, 100, 221, 171, 140, 243, 88, 30, 231, 180, 86, 227, 196, 229, 112, 184, 216, 74, 169, 221, 14, 63, 45, 26, 77, 206, 178, 92, 235, 215, 10, 48, 195, 96, 40, 87, 165, 31, 9, 92, 246, 151, 221, 133, 146, 255, 197, 30, 57, 176, 35, 150, 91, 175, 68, 157, 160, 135, 115, 7, 69, 190, 153, 207, 233, 74, 242, 66]
[67, 32, 81, 185, 146, 121, 214, 143, 159, 195, 163, 118, 225, 69, 130, 44, 93, 111, 245, 134, 136, 209, 225, 15, 242, 200, 197, 205, 70, 29, 29, 140, 6, 100, 221, 171, 140, 243, 88, 30, 231, 180, 86, 227, 196, 229, 112, 184, 216, 74, 169, 221, 14, 63, 45, 26, 77, 206, 178, 92, 235, 215, 10, 48, 195, 96, 40, 87, 165, 31, 9, 92, 246, 151, 221, 133, 146, 255, 197, 30, 57, 176, 35, 150, 91, 175, 68, 157, 160, 135, 115, 7, 69, 190, 153, 207, 233, 74, 242, 66]

***

<br><br>

### 2: 26.1 세트 만들기 ~ 26.2 집합 연산 사용하기

표준 입력으로 양의 정수 두 개가 입력된다. 다음 소스 코드를 완성하여 두 숫자의 공약수를 세트 형태로 구하도록 만들라. 단, 최종 결과는 공약수의 합으로 판단한다.

```python
입력: 10 20

출력: 18
```

In [ ]:
#코드============
a int

#End=============

divisor = a & b
 
result = 0
if type(divisor) == set:
    result = sum(divisor)
    
print(result)

***

<br><br>

### 3: Unit 29. 함수 사용하기

"안녕하세요" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.

In [6]:
def print_coin():
    print("안녕하세요")
    
print_coin()

안녕하세요

***

<br><br>

### 4

아래의 에러가 발생하는 이유에 대해 설명하라.

```python
hello()
def hello():
    print("Hi")
    
NameError: name 'hello' is not defined
```

함수를 만들기 전에 미리 함수를 호출하여서 함수명이 정의가 안되었다고 에러가 뜸

***

<br><br>

### 5

세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [8]:
def print_max(a,b,c):
    if a , b, c
        
print_max(19,2,3)

19

***

<br><br>

### 6

하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

```python
print_keys({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별
```

In [ ]:
def print_keys(a):
    input()

***

<br><br>

### 7: Unit 44.1 import로 모듈 가져오기

`math` 라이브러리를 이용하여 √2의 값을 출력하라.

In [9]:
import math as m

m.sqrt(2)

1.4142135623730951