## Unit 16 ~ 18 예제 문제

***

<br><br>

### 1

다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

```python
리스트 = [100, 200, 300]
110
210
310
```
***

In [3]:
price = [100, 200, 300]
for i in price:
    print(i +10)

110
210
310

***

<br><br>

### 2

for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

```python
리스트 = ["김밥", "라면", "튀김"]

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김
```

In [5]:
menu = ["김밥", '라면','튀김']
for i in menu:
    print('오늘의 메뉴:',i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

***

<br><br>

### 3

리스트에 주식 종목이름이 저장돼 있다.

```python
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
```

저장된 문자열의 길이를 다음과 같이 출력하라.

```python
6
4
4
```

In [6]:
stock = ['SK하이닉스','삼성전자','LG전자']
for i in stock:
    print(len(i))

6
4
4

***

<br><br>

### 4

리스트에는 네 개의 정수가 저장돼 있다.

```python
리스트 = [3, -20, -3, 44]
```

for문을 사용해서 리스트의 음수를 출력하라.

```python
-20
-3
```

In [7]:
int1 = [3, -20, -3, 44]
for i in int1:
    if i < 0 :
        print(i)

-20
-3

***

<br><br>

### 5

리스트에서 소문자만 화면에 출력하라.

```python
리스트 = ["A", "b", "c", "D"]

b
c
```

In [19]:
cha = ['A', 'b', 'c', 'D']
for i in cha:
    if i.islower() :
        print(i)
    else:
        continue

b
c

***

<br><br>

### 6

my_list를 아래와 같이 출력하라.

```python
my_list = ["가", "나", "다", "라"]

가 나
나 다
다 라
```

In [12]:
my_list = ['가','나','다','라']

for i in range(3):
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

***

<br><br>

### 7

리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

```python
my_list = [100, 200, 400, 800, 1000, 1300]
```

첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.

```python
233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333
```

In [13]:
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(4):
    print((my_list[i]+my_list[i+1]+my_list[i+2])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333