In [3]:
import numpy as np

import pandas as pd

In [7]:
s = pd.Series([1,3,5,np.nan,6,8])

s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range("20130101", periods=6)

print(dates)

df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list("ABCD"))

df

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

                   A         B         C         D
2013-01-01  0.574839 -0.155076 -0.517386  0.543609
2013-01-02  1.000041 -0.085788  0.287484 -0.689686
2013-01-03  1.775372  0.919196 -0.800259  0.866752
2013-01-04  0.881088  0.672529 -0.762019  1.626492
2013-01-05  0.183451  0.343960 -1.287794 -1.398532
2013-01-06  0.215107  0.272258  1.248267 -0.549452

In [9]:
df2 = pd.DataFrame(
            {
                "A":1.0,
                "B":pd.Timestamp
            }                          

)

ValueError: If using all scalar values, you must pass an index

In [14]:
sr = pd.Series([1,2], index=["col1","col2"])
deep = sr.copy(deep=True)
shallow = sr.copy(deep=False)
print(sr)

col1    1
col2    2
dtype: int64

col1    1
col2    2
dtype: int64